[submodule "my-app"]
	path = my-app
	url = https://github.com/CleverTechMemes/MultiModuleRepo_Frontend.git
[submodule "myproject"]
	path = myproject
	url = https://github.com/CleverTechMemes/MultiProjectRepo_Backend.git
